<section id="about" class="section-reverse">
   <div>
    <h2>About the event</h2>
    <hr>
    <p>
      Female researchers account for less than 30% of all researchers, according to UNESCO and UN-WOMEN (UNESCO, 2019). This figure is even lower in most countries, particularly in physics. As a result, there is a significant gender gap in physics globally. Many factors contribute to the low number of female physicists, including a lack of access to education, poverty, social and cultural factors and lack of female role models and mentors. This lack of female physicists means we are letting go of a huge potential of scientific progress. To attain UN Sustainable Development Goals, Pakistan needs to empower its female population.
    </p>
    <p>
     With this motivation, we would like to arrange a <a style="border-bottom: 6px solid #fa0;"> 2 day virtual physics camp for girls in grades 9 to 12 in Pakistan </a>. The objective of our event is to organize virtual lab visits and talks from distinguished female speakers to motivate girls to pursue STEM research in their future.

    </p>
    <p>
This kind of outreach is especially important for young girls because if they do not see women around them pursuing science or if they have never heard about women achievers in science, then how will they imagine themselves as scientists? Our motivation is to bring forward empowered women in the field of physics to share their experiences so that Pakistan’s young women look up to these role models and gain inspiration through their journey of grit, hardwork and brilliance to aspire to become future scientists and problem-solvers.
    </p>
    <img src="assets/images/logo-wids-about.png" alt="Logotipo Women in Data Science">
  </div>
</section>
