<footer class="text-center-xs">

    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <ul class="list-inline">

                    <li>
                        <a class="text-imp" style="font-size: 8px;" target="_blank" href="https://github.com/VLCTechHub/widsvalencia">
                            Based on the theme of <i>   About
Website for the Women in Data Science event  </i>     </a>
                    </li>


                </ul>
            </div>
            <div class="social-icons col-sm-6 text-right text-center-xs">
                <a class="btns" target="_blank" href="mailto:abc@gmail.com">
                    <i aria-hidden="true" class="fa fa-envelope-o fa-lg"></i>
                </a>
               <!--  <a class="btns" target="_blank" href="https://github.com/vlctechhub/">
                    <i aria-hidden="true" class="fa fa-github fa-lg"></i> -->
                </a>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {% unless site.original_repo == null %}
                <a href="{{site.original_repo}}" target="_blank">
                    <small>Last updated: {{site.time | date:"%b %-d %Y %H:%M" }}</small>
                </a>
                {%endunless%}
            </div>
        </div>
    </div>

</footer>
