<header>
    <section id="intro">
        <div class="logo">
            <a href="/" rel="canonical">
                <img src="assets/images/logo_widsvlc.png" alt="logo WiDS Valencia">
            </a>
        </div>
        <div class="intro__text">
            <h1 class="title">Physics Camp for girls</h1>
            <h2>4 - 5 December , 2021 | 9:00 AM | Online Seminar</h2>
            <h2>Pakistan</h2>
        </div>

        <div class="button__ticket">
            <a class="cta" href="https://google.com" target="_blank">Register here!</a>
        </div>

    </section>

</header>
