<section id="schedule">
    <div class="section-heading">
        <h2>Schedule</h2>
        <hr>

        <table style="text-align:center"  class="table lead schedule-table">
            <thead>
                <tr>
                    <th style="text-align:center" > <b>Hour</b></th>
                    <th style="text-align:center" > <b>Saturday</b></th>
                    <th style="text-align:center" > <b> Sunday</b> </b></th>

                </tr>
            </thead>
            
            
            <tr>
                <td  style="vertical-align: middle;" rowspan="3">9:30 AM - 10:00 AM</td>
                <td colspan="2"> Quran Recitation </td>    
                                        
            </tr>
            
            <tr>

                <td>Introduction </td>                 <td>Talk#3  </td>                            
            </tr>

            <tr>
               <td>Talk #1   </td>                 <td> Life of Marie Curie (Activity 3)  </td>
            </tr>
            
            <tr>
            <td  style="vertical-align: middle;" rowspan="2">10:00 AM - 11:00 AM</td>
                <td>CERN Virtual Tour (Activity 1)</td>                             <td style="vertical-align: middle;" rowspan="2">Physics demonstrations
</td>

            </tr>
            
            <tr>
                <td >Physics demonstration </td>                        </tr>
            
            <tr>
                <td>&nbsp;</td>
 <td colspan="2">15 mins break</td>               
            </tr>
            
            <tr>
                <td style="vertical-align: middle;" rowspan="2">11:15 AM - 12:00 PM</td>
                <td>Talk # 2</td>                    <td>Life Painting of Nebula
(Activity 4)</td>                   
            </tr>
            
            <tr>
                <td>Virtual Astronomy Night (Activity 2)</td>                              <td>Women Empowerment</td>         
            </tr>
            
            <tr>
                <td style="vertical-align: middle;" rowspan="2">12:00 PM - 12:45 PM</td>
                <td rowspan="2" style="vertical-align: middle;" > Physics Demonstrations</td>           
                           <td>Talk#4</td>                
 
            </tr>
            
            <tr>


                <td>Competition Explaination</td>                
          
            </tr>
            
        </table>
     </div>
</section>