<section id="workshops" class="section-accent">
  <div>
    <h1>
      Distinguished Speakers
    </h1>
    <hr>
    <div class="workshops__2020">
      
         <div class="speaker">
        <img src=/assets/images/speakers/gemma_galdon.jpeg alt=Gemma Galdón class="avatar">
        <h3>Sana Naz</h3>
        <p class="social_media">
        
        
          <a class="social_media__icon" href="https://www.linkedin.com/in/gemmagclavell" target="_blank" title=gemmagclavell>
            <i aria-hidden="true" class="fa fa-linkedin fa-lg"></i>
          </a>
        
        </p>
        <p class="bio">
Short Bio
        </p>
      </div>
      
    </div>
  </div>
</section>
