<div class="shape-fill"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3a2c41" fill-opacity="1" d="M0,96L1440,288L1440,320L0,320Z" >></path></svg>
</div>
<section id="workshops" class="section-accent">
  <div>
    <h1>
      Distinguished Speakers
    </h1>
    <hr>



    <div class="speakers">
      {% for speaker in site.data.2020.workshop %}
      <div class="speaker">
        <img src={{speaker.avatar}} alt={{speaker.name}} class="avatar">
        <h3>{{speaker.name}}</h3>
        <p class="social_media">

        {% if speaker.linkedin != "" and speaker.linkedin != nil %}
          <a class="social_media__icon" href="https://www.linkedin.com/in/{{speaker.linkedin}}" target="_blank" title={{speaker.linkedin}}>
            <i aria-hidden="true" class="fa fa-linkedin fa-lg"></i>
          </a>
        {% endif %}
        </p>
        <p class="bio">
         {{speaker.bio}}
        </p>
      </div>
      {% endfor %}
    </div>
</div>  
</section>
